RewriteEngine On
ErrorDocument 404 http://aims-doc.com/error404
RewriteRule ^([^\.]+)$ $1.php [NC,L]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
#RewriteRule ^contents/([0-9]+)/([0-9a-zA-Z_-]+) content.php?i=$1&t=$2 [QSA,L]
RewriteRule ^contents/([^/]*) content.php?i=$1&t=$2 [QSA,L]
RewriteRule ^search/([0-9]+) search.php?page=$1 [QSA,L]
RewriteRule ^home/([0-9a-zA-Z_-]+) webabouts.php?pl=$1 [QSA,L]
RewriteRule ^labels/([0-9a-zA-Z_-]+) labels.php?lab=$1 [QSA,L]
#RewriteRule ^Entertainment/([0-9]+) Entertainment.php?page=$1 [QSA,L]
#RewriteRule ^anime anime.php [QSA,L]
#RewriteRule ^Technology/([0-9]+) Technology.php?page=$1 [QSA,L]
#RewriteRule ^lifestyle lifestyle.php [QSA,L]
#RewriteRule ^world_afiars world_afiars.php [QSA,L]
#RewriteRule ^stories stories.php [QSA,L]
#RewriteRule ^sport sport.php [QSA,L]
#RewriteRule ^education education.php [QSA,L]


#RewriteRule ^tutorial web_tutorials [QSA,L] 
#RewriteRule ^fake/([0-9]+)/([0-9a-zA-Z_-]+) fake_api.php?id=$1&title=$2 [QSA,L]
#RewriteRule ^freecodes/([0-9]+)/([0-9a-zA-Z_-]+) free_code.php?id=$1&title=$2 [QSA,L]
#RewriteRule ^projects/([0-9]+)/([0-9a-zA-Z_-]+) project.php?id=$1&title=$2 [QSA,L] 


